body {
	background-color: #f5f5f5;
	color: #000000;
	/* font-size: 0.8rem; */
}
.form-label {
	margin-bottom: 0;
}

.card {
	border: 1px solid #838383e0;
}

/* .card-header {
	background-color: #ffffff;
} */

.client-personal-information-table {
	background-color: #ffffff;
}

.nav-tabs .nav-link.active {
	color: #ffffff;
	background-color: #007bff;
	/* border-color: #dee2e6 #dee2e6 #fff; */
	font-size: 1.3rem;
}
