body {
	background-color: #ededed;
	/* background-color: #f5f5f5; */
	color: #000000;
}
.form-label {
	margin-bottom: 0;
}

.card {
	/* border: 1px solid #838383e0; */
	border: 1px solid #9ba4b5;
	/* box-shadow: 0 2px 10px #d0d0d0; */
}

.client-personal-information-table {
	background-color: #ffffff;
}

.nav-tabs .nav-link.active {
	/* color: #007bff; */
	color: #ffffff;
	/* color: #000000; */
	/* background-color: #94c4f8; */
	background-color: #347ecd;
	border-color: #347ecd;

	/* font-size: 1.1rem; */
}

a,
.btn-link {
	color: #347ecd;
}

.btn-primary {
	background-color: #347ecd;
	border-color: #347ecd;
}

.card-header-tabs {
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	border-bottom: 0;
}

.react-datepicker-wrapper {
	display: block;
}

.card-footer {
	padding: 0.4rem 1.25rem;
}

.note-date {
	margin-top: 5px;
	display: block;
}
