body {
	background-color: #f5f5f5;
	color: #000000;
}
.form-label {
	margin-bottom: 0;
}

.card {
	border: 1px solid #838383e0;
}

.client-personal-information-table {
	background-color: #ffffff;
}

.nav-tabs .nav-link.active {
	color: #ffffff;
	background-color: #007bff;
	font-size: 1.1rem;
}

.card-header-tabs {
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	border-bottom: 0;
}

button {
	/* width: 30%; */
}

.react-datepicker-wrapper {
	display: block;
}

.card-footer {
	padding: 0.4rem 1.25rem;
}

.note-date {
	margin-top: 5px;
	display: block;
}
